@import url("/Sing-Snap/css/about.css");
@import url("/Sing-Snap/css/contact.css");
@import url("/Sing-Snap/css/features.css");
@import url("/Sing-Snap/css/getstarted.css");
@import url("/Sing-Snap/css/hero.css");
@import url("/Sing-Snap/css/karaoke.css");
@import url("/Sing-Snap/css/nav.css");
@import url("/Sing-Snap/css/photostrip.css");
@import url("/Sing-Snap/css/player.css");

body {
  background: linear-gradient(to right, #967bb6, #d9bad7);
}

html {
  scroll-behavior: smooth;
}

/* Global font */
body {
  font-family: 'Poppins', sans-serif;
}
