@import url("about.css");
@import url("contact.css");
@import url("features.css");
@import url("getstarted.css");
@import url("hero.css");
@import url("karaoke.css");
@import url("nav.css");
@import url("photostrip.css");
@import url("player.css");

body {
  background: linear-gradient(to right, #967bb6, #d9bad7);
}

html {
  scroll-behavior: smooth;
}

/* Global font */
body {
  font-family: 'Poppins', sans-serif;
}
