.about {
  background: linear-gradient(to right, #d9bad7, #967bb6);
  color: #fff;
  padding: 4rem 2rem;
  padding-bottom: 15rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.about__text {
  text-align: center;
}

.about__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about__description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.about__image img {
  max-width: 400px;
  width: 100%;
  border-radius: 1rem;
  max-height: 100px;
}

/* Responsive */
@media (min-width: 768px) {
  .about__container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .about__text {
    flex: 1;
    padding-right: 2rem;
  }

  .about__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#contact-divider svg {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -100px;
  margin-bottom: -10px; /* Fix any overlap */
}
