@import "about.css";
@import "contact.css";
@import "features.css";
@import "getstarted.css";
@import "hero.css";
@import "karaoke.css";
@import "nav.css";
@import "photostrip.css";
@import "player.css";
body {
  background: linear-gradient(to right, #967bb6, #d9bad7);
}

html {
  scroll-behavior: smooth;
}

/* Global font */
body {
  font-family: 'Poppins', sans-serif;
}