.nav {
    background: linear-gradient(to right, #967bb6, #d9bad7); /* Purple to Pink */
    color: #ffffff;
    padding: 1rem 2rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
} 

.nav__logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.nav__links li {
    display: inline;
}

.nav__links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav__links a:hover {
    color: #967bb6;
}
